*{
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0 ;
}
body{
    background-color: #1B1B1B;
}
:root{
    --bord-rad: 20px ;
}

header#header{
    font-size: 20px ;
    margin: auto;
    background-color: #c6c6c636 ;
    color: white ;
    border-radius: 30px ;
    box-shadow: 0 5px 13px rgba(0, 0,0, 0.3) ;
    padding: 10px ;
}

#all-content{
    display: flex ;
    justify-content: center ;
    align-items: center;
    background-color: rgb(17, 9, 31);
    height: 100vh;
    text-align: center ;
}

#main-content{
    /* background-color: rgb(88, 88, 211); */
    width: 30% ;
    padding: 20px;
    border-radius: var(--bord-rad) ;
}

#main-content #container{
    padding: 20px ;
    margin: 20px 0 ;
    aspect-ratio: 1/1;
    background-color: rgb(159, 168, 22);
    border: 10px rgba( 0, 0, 0 , 0.6 ) solid;
    border-radius: var(--bord-rad) ;

    box-shadow: 0px 5px 13px rgba( 0 , 0 , 0 , 0.9 );
    display: grid;
    grid-template-columns: repeat( 3 , auto ) ;
    grid-template-rows: repeat( 3 , auto );
    /* justify-content: space-evenly;
    align-content: space-evenly; */
}

#container .square{
    padding: 20px ;
    /* background-color: aquamarine; */
    border: 1px solid rgb(0, 0, 0,0.5);
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .square:hover{
background-color: rgb(0, 0, 0,0.3);
cursor: pointer;
}

#main-content button#reset-btn{
    font-size: 20px ;
    padding: 10px 30px ;
    border-radius: var(--bord-rad);
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3) ;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;

}

#main-content button#reset-btn:hover{
    background-color: rgba(28, 28, 28, 0.9);
}

